.hero {
  background: #5b6c78;
  color: #FFF;
  padding: 1rem 0 0 0;
}

.hero .title {
  color: inherit;
  font-size: 4rem;
  margin: 1.6rem 0 0 0;
  font-weight: 700;
}

.hero__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__item span {
  text-transform: uppercase;
}

.hero__item.left {
  animation-duration: 1s;
  animation-name: slideInleft;
}

.hero__item.right {
  animation-duration: 1s;
  animation-name: slideInRight;
}

.hero__avatar img {
  width: 100%;
  ;
}

@media screen and (max-width:749px) {
  .hero__item.left {
    order: 2;
  }

  .hero__item.right {
    order: 1;
  }
}

@media screen and (min-width:750px) {
  .hero__item {
    flex: 1 0 50%;
    text-align: left;
  }

  .hero__item.left {
    align-items: flex-start;
  }

  .hero .title {
    font-size: 5rem;
  }

  .hero__avatar img {
    max-width: 400px;
    border-radius: 50%;
  }
}