.skills h4,
.skills p {
  margin: 0 0 0.3rem 0;
}

.skills li {
  background-color: #F5F5F5;
  border-left: 3px solid rgb(91, 107, 120);
  padding: .9rem 2rem;
}

.skills .progressbar {
  background: #F5F5F5;
  color: #FFF;
  margin-bottom: 1rem;
  overflow: hidden;
}

.skills .bar {
  
  background: #5b6c78;
  padding: 1rem;
  transition: all 2s;
  width: 0;
}

.skills .bar-size-95 {
  width:95%;
}
.skills .bar-size-90 {
  width:90%;
}
.skills .bar-size-85 {
  width:85%;
}
.skills .bar-size-80 {
  width:80%;
}
.skills .bar-size-75 {
  width:75%;
}
.skills .bar-size-70 {
  width:70%;
}
.skills .bar-size-65 {
  width:65%;
}