.form {
  max-width: 600px;
  margin: 4rem auto 0 auto;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form textarea {
  min-height: 200px;
}

.form .btn {
  border: none;
  background: var(--color-body);
  color: #FFF;
  width: auto;
  min-width: 160px;
  font-size: 2rem;
  text-transform: uppercase;
}

.form .btn:hover {
  cursor: pointer;
  background: #000;
}